html {
  font-size: 16px;
}
body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background-color: #333333;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4AF626;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
p {
  margin-bottom: 0.8rem;
}
h5,
h6 {
  margin-top: 0.8rem;
}
.heading {
  margin-top: 8px;
  margin-bottom: 4px;
}
.section-title {
  color: #4AF626;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom-width: 2px;
  border-bottom-color: #4AF626;
  border-bottom-style: solid;
}
.side-content {
  padding: 10px 10px 0;
}
.side-content h6:first-child {
  margin-top: 4px;
}
.main {
  border-left-width: 4px;
  border-left-color: #4AF626;
  border-left-style: solid;
  padding: 2px 15px;
}
.separator {
  border-bottom-width: 2px;
  border-bottom-color: #4AF626;
  border-bottom-style: solid;
}
.separator-sm {
  border-bottom-width: 1px;
  border-bottom-color: #4AF626;
  border-bottom-style: solid;
}
#wrapper {
  position: relative;
}
.wrapper-content {
  padding: 30px 0;
  background-color: #ffffff;
}
#canvas {
  position: absolute;
}
ul {
  padding-left: 0;
  list-style-position: inside;
  list-style-type: none;
}
ul ul {
  padding-left: 20px;
}
ul ul li {
  padding-left: 5px;
  border-left-width: 1px;
  border-left-color: #4AF626;
  border-left-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #4AF626;
  border-bottom-style: dotted;
}
.list-item {
  padding-left: 5px;
  padding-bottom: 2px;
  border-bottom-width: 1px;
  border-bottom-color: #4AF626;
  border-bottom-style: solid;
}
article {
  padding: 0px 5px 8px;
}
.tag {
  padding: 0.35em 0.5em;
}
.tiny {
  font-size: 60%;
  font-weight: 400;
}
.social-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #4AF626;
  background-color: #333333;
  border-style: solid;
  border-width: 1px;
  border-color: #4AF626;
  text-align: center;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.social-icon:hover,
.social-icon:active,
.social-icon:focus {
  color: #ffffff;
  background-color: #4AF626;
}
.badge {
  background-color: #4AF626;
  color: #333333;
}
@media print {
  html {
    font-size: 12px;
  }
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .section-title {
    color: #333333;
  }
  .wrapper-content {
    background-color: #ffffff;
    background-image: none;
  }
  .badge {
    background-color: #ffffff;
    color: #333333;
    font-weight: 400;
  }
  .container {
    width: 100%;
  }
  #canvas {
    display: none;
  }
  .headline {
    display: inline-block;
  }
  .subline {
    display: inline-block;
    font-size: 2.0rem;
    color: #4AF626;
    margin-left: 6px;
  }
  .subline:before {
    content: ' - ';
  }
}
